@use "color";

$font: "M PLUS 1", sans-serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/*symptoms*/
.symptoms {

}
.symptoms__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 890px;
  width: 100%;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}
.symptoms__item {
  width: 400px;
  padding-top: 13px;
  padding-bottom: 14px;
  border-bottom: 1px solid color.$main-color ;
  text-align: center;
}

/*compatible-diseases*/
.compatible-diseases {
  border-radius: 50px 0 50px 0;
  background-color: color.$main-color;
}
.compatible-diseases-title {
  color: #fff;
}
.compatible-diseases__items {
  max-width: 1000px;
  width: 100%;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.compatible-diseases__item {
  width: 260px;
  padding: 50px 20px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
}
.compatible-diseases__image {
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;

  img {
    width: 100%;
    object-fit: cover;
  }
}
.compatible-diseases__text {
  margin-top: 30px;

  p {
    display: block;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

/*examination*/
.examination {
  border-radius: 50px 0 50px 0;
  background-color: color.$base-color;
}
.examination__items {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 50px;
  background-color: #Fff;
  border-radius: 50px;
}
.examination__image {
  width: 150px;
  height: 150px;

  img {
    width: 100%;
    object-fit: cover;
  }
}
.examination__text {
  width: 75%;
  margin-top: 25px;
  margin-left: auto;

  p {

  }
}

/*access*/
.access {
  border-top: none;
}